body {
  font-family: cursive;
  font-weight: 300;
  word-spacing: 2 px;
}
h1{
  text-align: center;
}
.div-1,.div-2,.div-3{
  border: black;
  border-width: 1px;
  border-style: solid;
  margin: 5px 10px 5px 10px;
  display: inline-block;
}
.div-1{
  background-color: rgb(108, 188, 190);
}
.div-2{
  background-color: rgb(207, 154, 116);
}
.div-3{
  background-color: rgb(129, 153, 196);
}
h2{
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  float: right;
  color: white;
  padding: 5px;
  font-size: 125%;
  margin-top: 0px;
}
p {
  text-align: justify;
  padding: 10px 20px 10px 20px;
}
.row{
  text-align: center;
}
#head1
{
  background-color: rgb(142, 63, 63);
}
#head2
{
  background-color: rgb(122, 92, 149);
}
#head3{
background-color: rgb(121, 156, 86);
}

@media(min-width: 992px){
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
      width: 30%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
      }
      .col-lg-9 {
        width: 74.99%;
      }
      .col-lg-10 {
        width: 83.33%;
      }
      .col-lg-11 {
        width: 91.66%;
      }
      .col-lg-12 {
        width: 100%;
      }
}
@media(min-width: 768px) and (max-width: 991px){
    
      .col-md-1 {
        width: 8.33%;
      }
      .col-md-2 {
        width: 16.66%;
      }
      .col-md-3 {
        width: 25%;
      }
      .col-md-4 {
        width: 33.33%;
      }
      .col-md-5 {
        width: 41.66%;
      }
      .col-md-6 {
        width: 45%;
      }
      .col-md-7 {
        width: 58.33%;
      }
      .col-md-8 {
        width: 66.66%;
      }
      .col-md-9 {
        width: 74.99%;
      }
      .col-md-10 {
        width: 83.33%;
      }
      .col-md-11 {
        width: 91.66%;
      }
      .col-md-12 {
        width: 93%;
      }    
}
@media(max-width: 767px)
{
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 74.99%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 80%;
  }    
}